<!--
  The Footer
-->

<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center">
      <div class="footer-left">
          <a href="https://www.patreon.com/savorocks?fan_landing=true" target="_blank">
              <img src="/assets/img/become-a-patron.png" alt="become a patron" width=200>
          </a>
      <p class="mb-0">
        © {{ 'now' | date: "%Y" }}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
        {% if site.data.rights.brief %}
        <span data-toggle="tooltip" data-placement="top"
          title="{{ site.data.rights.verbose }}">{{ site.data.rights.brief }}</span>
        {% endif %}
      </p>
    </div>

  </div> <!-- div.d-flex -->
</footer>
